name: Fastify Application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Fastify Dependencies
        run: ./batect install dep
      - name: Run Testcase
        run: ./batect test-ci
      - name: Perform Linting
        run: ./batect lint
